@font-face {
    font-family: 'VariableMontserrat';
    src: url('file:///home/admin/code/generic-webapp/resources/Montserrat-VariableFont_wghts.ttf');
}

@font-face {
    font-family: 'MontserratLight';
    src: url('file:///home/admin/code/generic-webapp/resources/Montserrat-Light.ttf');
}

@page {
  size: A4;
  margin: 0.1cm;
  @bottom-center {
    content: element(footer-info);
  }
}

/* Default document typography for the PDF */
body {
    font-family: 'MontserratLight';
    font-size: 9pt;
    color: #333333;
}

/* Header table should fill the page horizontally */
.tg {
  table-layout: fixed;
  width: 100%;
}

.tg .tg-nrix {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

#header {
    text-align: center;
}

#footer-info {
    position: fixed;
    bottom: 0cm;
    width: 100%;
    border-top: 1px solid #cccccc;
    padding-top: 4px;
    text-align: center;
    font-size: 8pt;
    color: #666666;
}

table{border-collapse:collapse; margin-bottom:18px; padding: 0px; width: 100%;}
th,td{border:1px solid #ddd; padding:1px; vertical-align:middle;}
td{text-align: center; vertical-align: middle;}
th{background:#009999; text-align:center; color: #ffffff; font-family: 'VariableMontserrat'; font-size: 9pt; font-weight: 100;}

#general-info th,#gestor-info th{
  text-align: right;
  padding-right: 0.2cm;
  padding-left: 0.2cm;
  width: 20%;
}

#general-info td,#gestor-info td{
  width: 30%;
}


.gi-title, #general-info .gi-title, #gestor-info .gi-title {
  text-align: center;
  padding: 0.1cm;
  width: 100%;
}

#firmas td, #evidencias td{
  width: 50%;
}

#firmas p, #evidencias p{
  margin-top: 0px;
  padding: 0px;
}

#firmas .ev img{
  max-height: 70px;
  display: block;
  margin: auto;
  border: #009999 2px solid;
}

#evidencias .ev img{
  max-height: 150px;
  display: block;
  margin: auto;
  border: #009999 2px solid;
}